<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Itserv_Feed>
            <version>1.0.10</version>
        </Itserv_Feed>
    </modules>
    <global>
        <resources>
            <itserv_feed_setup>
                <setup>
                    <module>Itserv_Feed</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </itserv_feed_setup>
        </resources>
        <models>
            <itserv_feed>
                <class>Itserv_Feed_Model</class>
            </itserv_feed>
        </models>
         <helpers>
            <itserv_feed>
                <class>Itserv_Feed_Helper</class>
            </itserv_feed>
        </helpers>
    </global>
    <frontend>
        <routers>
            <feed>
                <use>standard</use>
                <args>
                    <module>Itserv_Feed</module>
                    <frontName>feed</frontName>
                </args>
            </feed>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>                                                                    
                                    <feed_options translate="title" module="itserv_feed">
                                        <title>Feed</title>
                                        <sort_order>529</sort_order>
                                    </feed_options>
                                </children>
                            </config>
                        </children>                        
                    </system>
                </children>
            </admin>                
            </resources>
        </acl>
    </adminhtml>        
    <default>
        <feed_options>
            <mappa_attributi>
                <produttore>manufacturer</produttore>
                <ean>ean</ean>
                <mpn>mpn</mpn>                
            </mappa_attributi>
            <trovaprezzi>
                <tempi_spedizione>1-1</tempi_spedizione>
            </trovaprezzi>
            <spedizioni>
                <set_costo_spedizione>0</set_costo_spedizione>                
            </spedizioni>
        </feed_options>
    </default> 
    <crontab>
        <jobs>
            <itserv_feed_export>
                <schedule>
                    <cron_expr>* 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>itserv_feed/esporta::run</model>
                </run>
            </itserv_feed_export>
        </jobs>        
    </crontab>       
</config>